@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
a
{
    color: black;
}
body
{
    /* background-image: url("rsc/2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
    background-color: rgb(250, 250, 250);
}
.outer-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form
{
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 350px;
    box-shadow: rgba(10, 10, 30, 0.04) 0px 4px 16px, rgba(10, 10, 30, 0.034) 0px 8px 32px;
}
h1
{
    text-align: center;
    color: rgb(58, 58, 58);
}
.f 
{
    padding: 40px;
}
.rest
{
    margin-top: 26px;
}
.label-field, .submit-button, .link
{
    padding: 10px 0px;
}
.label-field div
{
    padding: 5px 0px;
}
.submit
{
    padding: 9px 14px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    background-color: rgb(168,113,204);
    color: white;
    width: 265px;
    cursor: pointer;
}
.field 
{
    width: 240px;
    padding: 12px;
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
}
.link
{
    font-size: 14px;
}
svg
{
    position: fixed;
    bottom: -200px;
    z-index: -1;
}