<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/register.css">
    <title>Register</title>
</head>

<body>
    <div class="outer-container">
        <div class="form">
            <div class="f">
                <div class="heading">
                    <h1>Sign Up</h1>
                </div>
                <div class="rest">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="username label-field">
                            <div class="label">Username</div>  
                            <div class="fd">
                                {{ form.username(class='user field', placeholder = 'minimum 4 characters') }}
                            </div> 
                        </div>
                        <div class="password label-field">
                            <div class="label">Password</div>
                            <div class="fd">
                                {{ form.password(class='pass field', placeholder = 'minimum 8 characters') }}
                            </div>
                        </div>
                        <div class="submit-button">{{ form.submit(class='submit') }}</div>
                        <div class="link">
                            Already have an account ? <a href="{{ url_for('login') }}">Log In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="55%" x2="100%" y2="45%"><stop offset="5%" stop-color="#f871c7"></stop><stop offset="95%" stop-color="#a8c2d1"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,200 0,200 C 296,163 592,126 832,126 C 1072,126 1256,163 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>
</body>

</html>